* {
  scrollbar-width: thin;
  scrollbar-color: rgba(#dbd5c6, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(#dbd5c6, 0.5);
  border: transparent;
  border-radius: 20px;
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  max-width: 70vw;
  height: 100%;
  background: rgb(236, 223, 193);
  box-shadow: 2px 2px 50px gray;
  overflow: scroll;
  transform: translateX(-100%);
  opacity: 1;
  transition: all 0.5s ease;

  h2 {
    padding: 2rem;
  }
}
.show-library {
  transform: translateX(0%);
  opacity: 1;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.2s ease-out;
  img {
    width: 30%;
  }
  &:hover {
    background-color: #60849152;
  }
}

.selected {
  background-color: rgb(16, 100, 128);
  &:hover {
    background-color: rgb(16, 100, 128);
  }

  h3,
  h4 {
    color: white;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}
